body
  background: #fff
  margin: 0
  box-sizing: border-box

.select-user-container
  text-align: center
  padding: 20px
  & select
    float: left
  & h3
    display: inline

.no-data-msg

.graph-bandwidth-container, .graph-audience-container
  width: 90%
  margin: 0 auto

.view-footer-container
  margin: 0 auto
  box-sizing: border-box
  position: relative
  padding-bottom: 10px
  height: 50px
  border: 4px solid #B2125C
  width: 100%
  padding: 0

  & canvas
    user-select: none

@media (max-width: 768px)
  .graph-bandwidth-container, .graph-audience-container
    width: 98%
